._3gl1{background-position:center;background-repeat:no-repeat;caret-color:var(--primary-text);display:inline-block;margin:0 1px;text-align:center;vertical-align:middle}._1mjk ._3gl1{caret-color:#fff}._ncl{color:transparent;display:inline-block;transform:translateY(-3px);z-index:-1}
.x1swvt13{padding-left:16px}.x43c9pm{list-style-position:outside}.xtaz4m5{list-style-type:disc}/*FB_PKG_DELIM*/

#bootloader__pvwXTY{height:42px;}.bootloader__pvwXTY{display:block!important;}